.password-toggle-icon{
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}
.forget-password-toggle-icon{
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}