@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=EB+Garamond&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300&family=Poppins&display=swap');

* {
  font-family: 'Alkatra', cursive;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}


/* .my-container{
  @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-6
} */



.active{
  @apply font-medium tracking-wide text-teal-400 transition-colors duration-200 hover:text-blue-400
}

.default{
  @apply font-medium tracking-wide text-white transition-colors duration-200 hover:text-blue-400
}